<section class="hero is-primary is-fullheight">
  <div class="hero-body is-justify-content-center is-flex-direction-column">
      <form class="box">
        <p class="title has-text-black">
          Quick Leaderboards
        </p>
        <div class="field">
          <div class="control">
            <input class="input" type="password" placeholder="********">
          </div>
        </div>
        <button class="button is-primary is-fullwidth">Access</button>
      </form>
  </div>
</section>
